/* navbar */

.navbar-brand {
    font-family: "ubuntu";
    font-size: 3.25rem;
    font-weight: 900;
    padding-left: 2rem;
}

.navbar {
    padding: 1rem 2rem 1rem 0;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 550;
}

.ddm {
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 550;
}

/* navbar */


/* slider */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
    color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

/* Carousel base class */
.carousel h1 {
    font-size: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 44rem;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 44rem;
    object-fit: cover;
}

@media (max-width:480px) {
    .carousel-item>img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        object-fit: cover;
        height: 45rem;
    }

    .carousel-item {
        height: 45rem;
    }
}

/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
  ------------------------- */

.featurette-divider {
    margin: 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

/* slider */


/* about */
.about1 {
    /* background-image: url(https://image.freepik.com/free-photo/turquoise-concrete-wall-background_23-2148255150.jpg); */
    background-color: #cbe2b0;
    text-align: center;
    padding: 3rem 2rem 100px 2rem;
}

.about11 {
    background-image: url(https://cdn.pixabay.com/photo/2019/04/10/12/40/watercolour-4117017_1280.png);
}

.about22 {
    background-image: url(https://cdn.pixabay.com/photo/2019/04/10/12/40/watercolour-4117017_1280.png);
}

.about1_img {
    padding-top: 50px;
    height: 30rem
}

.about2 {
    background-color: #fae7cb;
    text-align: center;
    padding: 3rem 2rem 100px 2rem;
}

/* about */



/* cards */
.cards {
    background-image: url(https://www.aspca.org/sites/default/files/difference-banner.jpg);
}

.pricing-header {
    color: white;
}

.card1 {
    background-color: #EA6B30;
    opacity: 80%;
    color: white;
}

.card2 {
    background-color: white;
    opacity: 80%;
    color: black;
}

.card3 {
    background-color: #385E76;
    opacity: 80%;
    color: white;
}

/* cards */



/* gallery */

.gallery-block {
    padding-bottom: 60px;
    padding-top: 60px;
}

.gallery-block .heading {
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
    font-size: 17px;
    font-weight: bold;
}

.gallery-block.cards-gallery .card {
    transition: 0.4s easy;
}

.gallery-block.cards-gallery .card img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block.cards-gallery .card-body {
    text-align: center;
}

.gallery-block.cards-gallery .card-body p {
    font-size: 15px;
}

.gallery-block.cards-gallery a {
    color: #212529;
}

.gallery-block.cards-gallery a:hover {
    text-decoration: none;
}

.gallery-block.cards-gallery .card {
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

    .gallery-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
}

/* gallery */



.register {
    padding: 2rem 0rem;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;

        .modal-content {
            padding: 1rem;
        }
    }
}

.modal-header {
    .close {
        margin-top: -1.5rem;
    }
}

.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons {
    .btn {
        margin: 0 0.5rem 1rem;
    }
}

.signup-section {
    padding: 0.3rem 0rem;
}

/* contact us */

.contact {
    background-color: #b4f2e1;
    /* background-image: url(https://image.freepik.com/free-vector/red-paper-airplane-fly-dark-blue-background_44481-304.jpg); */
}

.contact_img {
    height: 43rem;
    padding-top: 4rem 0 4rem 6rem;
}

.contacth2 {
    text-align: center;
}

.social-icon {
    margin: 1.5rem;
    color: #646464
}

/* contact us */

/* contact us form */
@import url("https://fonts.googleapis.com/css?family=Lato:300,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

/* Body */

body {
    background: #fff;
}

body,
input,
select,
textarea {
    background: none;
    color: #646464;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 300;
    line-height: 1.75em;
}

input,
textarea {
    border: none !important;
    outline: none !important;
    resize: none !important;
    width: 100% !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

h2,
h3 {
    color: #545454;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0 0 1em 0;
    letter-spacing: -0.01em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

.contact-container {
    width: 100%;
    /*   padding-top: 20%; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* Checkbox */

input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

input[type="checkbox"]+label {
    text-decoration: none;
    color: #646464;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
}

input[type="checkbox"]+label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

input[type="checkbox"]+label:before {
    background: rgba(144, 144, 144, 0.075);
    border-radius: 0.5em;
    border: solid 1px rgba(144, 144, 144, 0.25);
    content: '';
    display: inline-block;
    height: 1.65em;
    left: 0;
    line-height: 1.58125em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.65em;
}

input[type="checkbox"]:checked+label:before {
    background: #494d53;
    border-color: #494d53;
    color: #ffffff;
    content: '\f00c';
}

input[type="checkbox"]:focus+label:before {
    border-color: #47cdd9;
    box-shadow: 0 0 0 1px #47cdd9;
}

input[type="checkbox"]+label:before {
    border-radius: 0.5em;
}


/* Buttons */

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0.5em;
    border: solid 4px grey !important;
    color: #545454 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 1.25em;
    font-weight: 800;
    height: 3.5em;
    letter-spacing: 0.1em;
    line-height: 3.5em;
    overflow: hidden;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
    background-color: rgba(144, 144, 144, 0.075);
    color: #545454 !important;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active {
    background-color: rgba(144, 144, 144, 0.2);
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
.button.icon {
    padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
.button.icon:before {
    margin-right: 0.5em;
}

#submit {
    background: #47cdd9;
    color: #fff !important;
    border-color: #fff !important
}


/* Popup */

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    overflow-y: auto;
    z-index: 10000;
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
    overflow-x: hidden;
    border: none;
    position: relative;
    width: 82% !important;
    max-width: 82% !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #fff;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: none;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.cd-popup-container p {
    margin: 0;
    padding: 3em 1em;
    padding-top: 1em;
}

.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}

.cd-close-button {
    color: #545454;
    border-bottom: none;
}

.cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}

.cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}

.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
    .cd-popup-container {
        margin: 2em auto;
    }
}


/* Contact Form */

label:hover {
    cursor: text !important;
}

.contact-form {
    background: #ffffff !important;
    height: auto;
    margin: 100px auto;
    max-width: 82%;
    overflow: hidden !important;
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: rgba(26, 26, 26, 0.1) 0 1px 3px 0;
    -webkit-box-shadow: rgba(26, 26, 26, 0.1) 0 1px 3px 0;
    box-shadow: rgba(26, 26, 26, 0.1) 0 1px 3px 0;
}

@media (max-width: 500px) {
    .contact-form {
        margin: 0;
        padding-top: 1em;
        width: 100% !important;
        max-width: 100% !important;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        -moz-box-shadow: rgba(26, 26, 26, 0.1) 0 0px 0px 0;
        -webkit-box-shadow: rgba(26, 26, 26, 0.1) 0 0px 0px 0;
        box-shadow: rgba(26, 26, 26, 0.1) 0 0px 0px 0;
    }
}

.contact-form .email,
.contact-form .message,
.contact-form .name {
    overflow-x: hidden;
    position: relative !important;
    -moz-border-radius: none !important;
    -webkit-border-radius: none !important;
    border-radius: none !important;
}

.contact-form .email input:focus,
.contact-form .email textarea:focus,
.contact-form .message input:focus,
.contact-form .message textarea:focus,
.contact-form .name input:focus,
.contact-form .name textarea:focus {
    background: #f4f5f6 !important;
}

.contact-form .email label,
.contact-form .message label,
.contact-form .name label {
    color: #cbd0d3 !important;
    left: 23px !important;
    position: absolute !important;
    top: 23px !important;
    -moz-transition: all, 150ms !important;
    -o-transition: all, 150ms !important;
    -webkit-transition: all, 150ms !important;
    transition: all, 150ms !important;
}

.contact-form .email.typing label,
.contact-form .message.typing label,
.contact-form .name.typing label {
    color: #3498db !important;
    font-size: 10px !important;
    top: 7px !important;
}

.contact-form .email,
.contact-form .name {
    width: calc(50% - 1px) !important;
}

@media (max-width: 500px) {

    .contact-form .email,
    .contact-form .name {
        width: 100% !important;
    }
}

.contact-form .email input,
.contact-form .name input {
    padding: 23px 0 8px 23px !important;
}

.contact-form .email {
    border-left: 1px #e6e6e6 solid !important;
    float: right !important;
}

@media (max-width: 500px) {
    .contact-form .email {
        border-left: none !important;
        border-top: 1px #e6e6e6 solid !important;
    }
}

.contact-form .message {
    border-bottom: 1px #e6e6e6 solid !important;
    border-top: 1px #e6e6e6 solid !important;
    clear: both !important;
}

.contact-form .message textarea {
    height: 200px !important;
    padding: 23px !important;
}

.contact-form .name {
    float: left !important;
}

.contact-form .submit {
    background: #f4f5f6 !important;
    display: block !important;
    overflow: hidden !important;
    padding: 23px !important;
    margin-bottom: 2em;
}

.contact-form .submit .user-message {
    float: left !important;
    padding-top: 22px !important;
}

@media (max-width: 500px) {
    .contact-form .submit .user-message {
        float: none !important;
        padding: 0 0 10px !important;
    }
}

/* contact us form */


/* footer section */
#footer {
    padding: 5% 15%;
    text-align: center;
}

.social-icon1 {
    margin: 20px 10px;
}

body {
    overflow-x: hidden !important;
}

.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
